.panel {
	width: 5rem;
	height: 1.3rem;
	padding: 0.25rem;
	margin: 0 auto 0px;
	position: relative;
	text-shadow: 0 0.01rem 0.02rem #000;
}

.cover {
	border-radius: 0.1rem;
	width: 1.3rem;
	height: 1.3rem;
	border: 1px solid #333;
	position: absolute;
	box-shadow: 0 0.02rem 0.1rem black;
}

.button {
	opacity: 0.5;
	transition: 0.3s;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	width: 0.24rem;
	height: 0.24rem;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	background-size: 0.32rem 0.32rem;
}

.button .small {
	width: 0.16rem;
	height: 0.16rem;
	background-size: 0.16rem 0.16rem;
}

.button:hover {
	opacity: 1;
}

.control {
	position: absolute;
	margin-left: 1.55rem;
	width: 3.45rem;
	bottom: 0.2rem;
}

.rewind {
	background-image: url(../img/rewind.png);
}

.play {
	background-image: url(../img/play.png);
	margin: 0 5px 0 3px;
}

.pause {
	background-image: url(../img/pause.png);
	margin: 0 5px 0 3px;
}

.fastforward {
	background-image: url(../img/fastforward.png);
}

.volume {
	background-image: url(../img/volume.png);
	width: 0.16rem;
	//height: 0.16rem;
	background-size: 0.16rem 0.16rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.05rem;
}

.mute {
	background-image: url(../img/mute.png);
	width: 0.16rem;
	//height: 0.16rem;
	background-size: 0.16rem 0.16rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.05rem;
}

.repeatBtn {
	background-image: url(../img/repeat.png);
	float: right;
	position: relative;
	width: 0.16rem;
	height: 0.16rem;
	background-size: 0.16rem 0.16rem;
}

.volumeSlider {
	width: 1rem;
	line-height: 16px;
	display: inline-block;
	vertical-align: middle;
}

.progressSlider {
	width: 100%;
	margin-top: 0.11rem;
}

.timeAndLoop {
	float: left;
	width: 100%;
	margin: 0.03rem 0 0.02rem;
}

.currentTime {
	float: left;
	font-size: 0.12rem;
	color: #ccc;
	line-height: 0.16rem;
}

.loopSingleIndicator {
	position: absolute;
	top: 0.03rem;
	right: -0.02rem;
	font-size: 0.08rem;
	color: #fff;
}